accelerate
codetiming
datasets
liger-kernel
mathruler
numpy
omegaconf
pandas
peft
pillow
pyarrow>=15.0.0
pylatexenc
qwen-vl-utils
ray[default]
tensordict
torchdata
transformers>=4.54.0
vllm>=0.8.0
wandb
hf_transfer
scikit-learn
k-means-constrained
validators
matplotlib
tabulate
sty
portalocker
imageio
timeout-decorator
ipdb
nltk
xlsxwriter
typing_extensions
timm
json_repair
dotenv
# for gemini api
google-genai
openpyxl